@import "../js-variable.scss";

/**
  * *  全局修改vant默认样式
  */
.van-nav-bar__title {
  font-weight: 700;
  font-size: 17px;
}

.van-empty__image {
  width: 246px;
  height: 170px;
}

.van-list__finished-text {
  color: $mainColor;
}

.van-nav-bar__text {
  color: $mainColor;
}

.van-picker__confirm {
  color: $mainColor;
}
// icon
.van-nav-bar .van-icon {
  color: $textColor;
}
