@import "~@/assets/scss/js-variable";
.welcome {
  height: 300px;
  background: linear-gradient(180deg, #1e74e4 0%, #7ab4ff 74%, #f8f8f8 100%);
  color: $whiteColor;
  padding-left: 28px;
  padding-top: 30px;
  font-size: 28px;
  line-height: 40px;
}
.logintype {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: calc(100vh - 130px);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #ffffff;
  overflow: hidden;
  padding-top: 10px;
}
// 表单
.container {
  /deep/ .form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;

    &-item {
      margin-bottom: 15px;
      font-size: 14px;

      &-label {
        padding-left: 15px;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      &-icon {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        margin-left: 20px;
        margin-right: 10px;
      }
      &-input {
        flex: 1;
        height: 36px;
        line-height: 36px;
        color: #444444;
        &-input::placeholder {
          color: #CFCFCF;
        }
      }

      &-msg {
        min-width: 70px;
        margin-left: 10px;
        color: $mainColor;
        .on {
          color: #ffffff;
        }
      }
    }
    // 协议
    &-protocol {
      color: #666666;
      font-size: 12px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      line-height: 1.8em;
      a {
        color: #1295f5;
      }
    }
  }
}